<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTML FROM SERVER</title>
    <style>
      h1 {
        border: 2px solid;
        font-size: 3rem;
        background-color: black;
        color: white;
      }
      p {
        font-size: 2rem;
      }
    </style>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/contacts.html">Contacts</a>
        </li>
        <li>
          <a href="/about.html">About</a>
        </li>
      </ul>
    </nav>
    <h1>
      HELLO HTML AGAIN
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
      placeat blanditiis cum mollitia eos porro iste commodi illo reprehenderit
      earum, tenetur consectetur hic temporibus. Recusandae exercitationem rem a
      cumque ad.
    </p>
  </body>
</html>
